{{define "content"}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Recipe Link</th>
      <th scope="col">Contains Meat</th>
      <th scope="col">Contains Seafood</th>
      <th scope="col">Execution Date</th>
    </tr>
  </thead>
  <tbody>
    {{ range $sid, $recipeEntry := .sources }}
    <tr data-toggle="collapse" data-target="#collapse-{{ $sid }}">
      <th scope="row">{{ $recipeEntry.Recipe.RecipeLink }}</th>
      <td scope="col" class="">{{ $recipeEntry.Recipe.ContainsMeat}}</td>
      <td scope="col">{{ $recipeEntry.Recipe.ContainsSeafood }}</td>
      <td scope="col">{{ $recipeEntry.RecipeExec.DateToCook }}</td>
      <td scope="col" class="col-2">
        <a href="#" data-target="#removeSourceModal" data-toggle="modal" role="button" class="btn btn-primary btn-sm" data-sourceid="{{ $sid }}">Remove</a>
      </td> 
    </tr>
    </div>
    {{end}}
  </tbody>
</table>

<div class="modal fade" id="removeSourceModal" tabindex="-1" role="dialog" aria-labelledby="removeSourceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title danger">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove <span class="font-weight-bold" id="sourceId"></span> ?</p>
      </div>
      <div class="modal-footer">
        <a id="removeSource" role="button" class="btn btn-primary">Aye</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nay</button>
      </div>
    </div>
  </div>
</div>

{{end}}